.itro-box {
 background-color: red;
 z-index: 1000;
}
.intro-box img{
       object-position: center center;
}
.intro-box .title{
position: absolute;
bottom:5%;
right: 5%;
} 
 
 .time-laps{
        top: 5%;
        left: 5%;
        color: rgba(175, 8, 8, 1);
 }
